##Knowlegde Check - 2

## Question# 1

Points : 5 *italicized text*

Write a function that returns the smallest of two even numbers, if both numbers are even and, the greater if one or both numbers are odd
   
                   lesser_of_two_evens(2,4) --> 2
                   lesser_of_two_evens(2,5) --> 5

In [2]:
def smallest_of_two_evens(a,b):
  if a % 2 == 0 and b % 2 == 0:
    if a < b:
      return a
    elif a > b:
      return b
  else:
    if a < b:
      return b
    elif a > b:
      return a

In [3]:
# Check1
smallest_of_two_evens(2,4)

2

In [4]:
# Check2
smallest_of_two_evens(2,5)

5

## Question# 2

Points : 5

Write a function takes a two-word string and returns True if both words begin with same letter.

            word_crackers('Lion', 'Lady') --> True
            word_crackers('Crazy', 'Drink') --> False

In [14]:
def word_crackers(word1,word2):
    if word1[0] == word2[0]:
      return True
    else:
      return False

In [15]:
# Check1
word_crackers('Lion', 'Lady')

True

In [17]:
# Check2
word_crackers('Crazy', 'Drink')

False

## Question# 3

Points : 5

Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    sum_twenty(20,10) --> True
    sum_twenty(12,8) --> True
    sum_twenty(2,3) --> False

In [18]:
def sum_twenty(n1,n2):
  if n1 + n2 ==20 or n1 == 20 or n2 ==20:
    return True
  else:
    return False

In [19]:
# Check1
sum_twenty(20,10)

True

In [20]:
# Check2
sum_twenty(2,3)

False

## Question# 4

Points : 5

Write a function that capitalizes the first and fourth letters of a name
     
    cap_first_four('macdonald') --> MacDonald

In [36]:
def cap_first_four(name):
  x = name[:1]
  y = name[3:4]
  print(x.upper() + name[1:3] + y.upper() + name[4:])

In [37]:
# Check
cap_first_four('macdonald')

MacDonald

## Question# 5

Points : 5

Given a sentence, return a sentence with the words reversed

    rev_words('I am home') --> 'home am I'
    rev_words('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join.

    " ".join(['Hello','world'])
    "Hello world"

In [54]:
def rev_words(text):
  x = text.split()
  print(x[::-1])

In [55]:
# Check1
rev_words('I am home')

['home', 'am', 'I']

In [56]:
# Check2
rev_words('We are ready')

['ready', 'are', 'We']

## Question# 6

Points : 5

Given an integer n, return True if n is nearest to either 100 or 200 with the difference of upto 10.

    nearest_num(90) --> True
    nearest_num(104) --> True
    nearest_num(150) --> False
    nearest_num(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [73]:
def nearest_num(n):
  if n >= 90 and n <=110:
    return True
  elif n >= 190 and n <=210:
    return True
  else:
    return False

In [74]:
# Check1
nearest_num(104)

True

In [75]:
# Check2
nearest_num(150)

False

In [76]:
# Check3
nearest_num(209)

True

## Question# 7

Points : 5

Given a list of ints, return True if the list contains a same numeric value next.

    contains_two_samevalues([1, 3, 3]) → True
    contains_two_samevalues([1, 3, 1, 3]) → False
    contains_two_samevalues([3, 1, 3]) → False

In [99]:
def contains_two_samevalues(nums):
  for x in range(len(nums) - 1):
    if nums[x] == nums[x+1]:
      return True
  return False

In [100]:
# Check1
contains_two_samevalues([1, 3, 3])

True

In [101]:
# Check2
contains_two_samevalues([1, 3, 1, 3])

False

In [102]:
# Check3
contains_two_samevalues([3, 1, 3])

False

## Question# 8

Points : 5

Given a string, return a string where for every character of the string appears 3 time.

    repeat_three('Hello') --> 'HHHeeellllllooo'
    repeat_three('Mississippi') --> 'MMMiiissssssiiissssssiiippppppiii'

In [107]:
def repeat_three(text):
  word = ""
  for char in text:
    word += char*3
  print(word)

In [108]:
# Check1
repeat_three('Hello')

HHHeeellllllooo

In [109]:
# Check2
repeat_three('Mississippi')

MMMiiissssssiiissssssiiippppppiii

## Question# 9

Points : 5

Write a function that returns the *number* of prime numbers that exist up to and including a given number

    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [141]:
def count_primes(num):
  prime = 0
  for x in range (2, num +1):
        for n in range(2,x):
            if x % n == 0:
                break
        else:
            prime +=1
  return prime

In [142]:
# Check1
count_primes(100)

25