##Knowlwdge Check - 1

### Printing output

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [3]:
print("Name : Isaac \nCity : New York")

Name : Isaac
City : New York

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [4]:
print("Emergency Alert \nNEWS : FLASH FLOOD WARNING this area till 7:00 PM")

Emergency Alert
NEWS : FLASH FLOOD WARNING this area till 7:00 PM

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

In [12]:
num = 20
num_1= num / 2
num_2 = num_1 / 2
num_3 = num_2 / 2
num_3

2.5

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

In [16]:
x = 20
z = 3
y = 10

x**z

8000

In [17]:
x ** y

10240000000000

In [18]:
x - y

10

In [19]:
x % z

2

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.5) and 1 cent
        Output:  the total amount as dollars and cents.

In [42]:
num = 4*(0.25) + 3*(0.10) + 2*(0.5) + 0.01
print(f"Amount : ${num:.2f}")

Amount : $2.31

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

In [50]:
word = "Python"
word[4]

'o'

7 - Given the string **Python**, with the help of slicing get,  **tho**.

In [53]:
word[2:5]

'tho'

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

In [55]:
word= "Python Class"
word [7:]

'Class'

9 - Find the length of the String  **Welcome to Pace University**

In [56]:
len("Welcome to Pace University")

26

10 - Split the String  **Welcome to Pace University**  into words

In [58]:
x = "Welcome to Pace University"
x.split()

['Welcome', 'to', 'Pace', 'University']

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

In [59]:
x = "Artificial intelligence"
x.replace("i","o")

'Artofocoal ontellogence'

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

In [61]:
x = "DATA Science"
x.lower()

'data science'

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

In [62]:
x = "DATA Science"
x.upper()

'DATA SCIENCE'

14 - reverse the given String  **Artificial intelligence**

In [66]:
x = "Artificial intelligence"
y = x[::-1]
y

'ecnegilletni laicifitrA'

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

In [67]:
a = 150
b = 225

if a == b:
  print("a is equal to b")
if a > b:
  print("a is greater than b")
if a >= b:
  print("a is greater than or equal to b")
if a < b:
  print("a is less than b")
if a <= b:
  print("a is less than or equal to b")
if a != b:
  print("a is not equal to b")

a is less than b
a is less than or equal to b
a is not equal to b

###Lists

16 - Create a **list** of **lists** of integers elements

In [72]:
list1 = [1,2,3,4,5]
list2 = [5, 6, 7]
list = [list1, list2]
list

[[1, 2, 3, 4, 5], [5, 6, 7]]

17 - Create a **list** of **lists** of Text elements

In [73]:
list1 = ["hello", "Hola"]
list2 = ["Bye", "adios"]
list = [list1, list2]
list

[['hello', 'Hola'], ['Bye', 'adios']]